
.mainDiv {
  height: 14vmax;
  width: 100%;
  object-fit: cover;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1523961131990-5ea7c61b2107?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  color: white;
  
}
.images{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.row{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  margin-top: 3rem;
}
@media only screen and (max-width: 600px) {
  .row{
    width: 100%;
    margin-top: 1vmax;
    text-align: justify;
  }
  }