.welcomedataContainer{
  width: 100%;
  margin:auto;
  margin-top: 3rem;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  background-attachment: fixed;
}
.h3{
  text-align: center;
  padding: 2vmax;
  color: white;
}
.span{
  color: red;
  font-weight: bold;
}
.homeDescriptionContainer{
  width: 80%;
  margin: auto;
  color: white;
  text-align: center;
  padding: 0.5vmax;
  font-size: 1vmax;
}